:root{
    /*Colors*/
    --black: #000;
    /*Fonts*/
    --arial: Arial, Helvetica, sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: var(--arial);
}
/*General*/
.container{
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: 80px 100px auto auto;
    grid-template-areas: 
        "header header header header"
        ". . . ."
        "main main main main"
        ". . . .";
}

.wrapper{
    max-width: 1160px;
}

a{
    text-decoration: none;
    color: var(--black);
}

.button{
    font-size: 12px;
    background-color:#f2f2f2 ;
    color: #5F6368;
    border: none;
    border-radius: 8px;
}

.button:hover{
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.field{
    display: flex;
    flex-direction: row;
}

/*Header*/
.header{
    grid-area: header;
    display: grid;
    grid-template-columns: repeat(2, 50%);
}

.advanced .header h2{
    justify-self: center;
    align-self: center;
    color: #ff0000;
}

.header .nav{
    grid-column-start: 2;
    padding: 2rem;
    display: flex;
    justify-content: flex-end;
}

.nav a{
    margin-right: 10px;
}

.nav a:hover{
    text-decoration: underline;
}

/*Main*/
.main{
    grid-area: main;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.advanced .main {
    justify-self: center;
}

.advanced .main h3{
    align-self: flex-start;
}

.logo{
    height: 100px;
}

.logo img{
    height: 100%;
}

.form {
    display: flex;
    flex-direction: column;
    width: 500px;
    margin-top: 15px;
}

.form input[type="text"]{
    width: 100%;
    height: 2.5rem;
    border: 1px solid #ddd;
    border-radius: 20px;
    padding: 1rem;
}

.form input[type="text"]:focus{
    outline: 0;
}

.form input[type="text"]:hover{
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
}

.form .container_buttons{
    width: calc(50%-20px);
    margin: auto;
    margin-top: 20px;
}


.form .button{
    font-size: 12px;
    margin: 5px;
    padding: 14px;
}

.advanced .form .field{
    margin-bottom: 5px;
    align-items: center;
}

.advanced .form .field label{
    font-size: 14px;
    width: 40%;
}

.advanced .form .field input{
    width: 60%;
    height: 20px;
    border-radius: 0;
}

.advanced .form .field input:focus{
    border-color: #0000ff;
}

.advanced .form .field input:hover{
    box-shadow: 0 0 0;
}

.advanced .form input[type="submit"]{
    align-self: flex-end;
    margin-top: 5px;
    padding: 5px;
    border: none;
    border-radius: 5px;
    background-color: #0000ff;
    color: #fff;
}

@media (max-width:500px){
    .form{
        width: 100%;
        padding: 10px;
    }
}