:root{
    /*Colors*/
    --black: #000;
    /*Fonts*/
    --arial: Arial, Helvetica, sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: var(--black);
}

body{
    font-family: var(--arial);
}

.container{
    max-width: 1160px;
    margin: auto;
    height: 100vh;
    display: grid;
    grid-template-rows: 80px 1fr;
}

.header{
    display: flex;
    justify-content: flex-end;
}

.nav{
    padding: 2rem;
}

.nav a{
    margin-right: 10px;
}

.nav a:hover{
    text-decoration: underline;
}

.main{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}
.form {
    display: flex;
    flex-direction: column;
}