:root{
    /*Colors*/
    --black: #000;
    /*Fonts*/
    --arial: Arial, Helvetica, sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: var(--black);
}

body{
    font-family: var(--arial);
}

.container{
    max-width: 1160px;
    margin: auto;
    height: 100vh;
    display: grid;
    grid-template-rows: 80px 1fr;
}

.header{
    display: flex;
    justify-content: flex-end;
}

.nav{
    padding: 2rem;
}

.nav a{
    margin-right: 10px;
}

.nav a:hover{
    text-decoration: underline;
}

.main{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.logo{
    height: 100px;
    margin-top: 100px;
}

.logo img{
    height: 100%;
}

.form {
    display: flex;
    flex-direction: column;
    width: 500px;
    margin-top: 15px;
}

.form input[type="text"]{
    width: 100%;
    height: 2.5rem;
    border: 1px solid #ddd;
    border-radius: 20px;
}

.form input[type="text"]:focus{
    outline: 0;
}

.form input[type="text"]:hover{
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
}

.form .container_buttons{
    width: calc(50%-20px);
    margin: auto;
    margin-top: 20px;
}

.form .button{
    font-size: 12px;
    height: 2rem;
    width: 8rem;
    margin: 5px;
    padding: 5px;
    background-color:#f2f2f2 ;
    color: #5F6368;
    border: none;
}

